<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="css/style.css">
  <title>Master Your Time</title>
</head>

<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">Better Understand How You Spend Your Time</h1>
      <div class="row center">
        <h5 class="header col s12 light">Break down and visuallize how you spend your days</h5>
      </div>
      <div class="row center">
        <a href="/events" id="download-button" class="btn-large waves-effect waves-light green">Login</a>
      </div>
      <br><br>

    </div>
  </div>
  <br><br>

  <footer class="page-footer blue">
    <div class="container">

      <div class="footer-copyright">
        <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://github.com/tfuray">TFuray</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>

</html>